.container {
    display: flex;
    width: 468px;
    height: 560px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 1px;
    border: #ffffff;
    border: 1px solid #323232;
    background-color: #0E0E10;
}

/* .tab {
  display:block;
  height: 49px;
} */
/* .tabs {
  display: flex;
  background-color: transparent;
} */

.active {
    background-color: #232429;
    width: 95px;
    height: 45px;
    border-width: 0px;
}

.content {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.button {
    padding: 10px 20px;
    width: 404px;
    height: 52px;
    background-color: #ffffff;
    color: #0E0E10;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.exampleCSV {
    padding: 10px 20px;
    background-color: #3385ff00;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.inputContainer {
    margin-bottom: 1rem;
}

.inputContainer label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    background-color: #0E0E10;
    border-radius: 12px;
    border: 1px solid #323232;
    padding: 8px;
    width: 404px;
    height: 56px;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.button:disabled {
    background-color: #ffffff;
    cursor: not-allowed;
}

.previewContainer {
    margin-top: 20px;
}

.previewTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: transparent;
}

.previewTable th,
.previewTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.previewTable th {
    font-weight: bold;
}

.previewTable tr:nth-child(even) {}

.previewTable tr:hover {}

.airdropHeading {
    font-weight: 700;
    color: #D9D9D9;
    width: 290px;
}
