.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Card styling */
    padding: 20px;
    border-radius: 10px;
    box-shadow: opx 4px 8px #880ab7;
    /* Initial box shadow set to none */
    background-color: #ffffff;
    /* Gradient glow effect */
    background-image: linear-gradient(45deg, #0e0e0e, #000000, #242424);
    filter: drop-shadow(0 4px 8px #880ab7(0, 0, 0, 0.1));
    transition: box-shadow ease-in-out;
}

/* On hover, apply the box shadow */
.container:hover {
    box-shadow: -6px 6px 20px 20px rgba(0, 0, 0, 0.2);
    /* Intensified box shadow with wider spread */
}
.tab {
  display:block;
  height: 35px;
}
.tabs {
  display: flex;
  background-color: transparent;
}

.active {
    background-color: #f213a4;
    width: 150px;
    height: 35px;
    border-width: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.button {
    padding: 10px 20px;
    background-color: #f213a4;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.exampleCSV {
    padding: 10px 20px;
    background-color: #3385ff00;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.inputContainer {
    margin-bottom: 1rem;
}

.inputContainer label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.inputContainerInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: #000000;
}

.input {
    background-color: #202425;
    border-radius: 5px;
    padding: 8px;
    width: 500px;
}

.button:disabled {
    background-color: #f213a4;
    cursor: not-allowed;
}

.previewContainer {
    margin-top: 20px;
}

.previewTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: transparent;
}

.previewTable th,
.previewTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.previewTable th {
    font-weight: bold;
}

.previewTable tr:nth-child(even) {}

.previewTable tr:hover {}