.card,
.footer {
  border-color: #222;
}
.code {
  background: #111;
}
.logo img {
  filter: invert(1);
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.tabs {
  display: flex;
}
